body {
    background-image: url("../images/paper-background-smaller.png");
    background-repeat: space;
    background-position: center center;
}

#jumbo {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

