    /* Necessary for full viewport background image*/
    html,
    body,
    header,
    .view {
        height: 100%;
    }

    html {
        scroll-behavior: smooth;
      }
      
    header {
        background-image: url("./images/bg-iceland.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331 !important;
        }
    }

    .navbar {
        background-color: rgba(0, 0, 0, .2)
    }

    .page-footer,
    .top-nav-collapse {
        background-color: #1C2331
    }

    
    /* #title { 
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
      } */

      #title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
       
    #line{
        margin: 0em;
        border-width: 1px;
        background-color: rgba(0, 0, 0, 0.61);
        width:45%;
        margin-left:27.5%;
        margin-right:27.5%
    }
    
    #name {
        color: white; 
        font-weight: bolder;
        font-size: 4.5em;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
    }
    
    #position {
        color: white;
        font-size: 2.5em;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
    }

    #projects {
        padding-top: 50px;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
    }

    #contact {
        padding: 40px 0px;
    }
    
    #phoneNumber {
        padding-top: 10px;
    }

    @media only screen and (max-width:768px) {
        .navbar {
            background-color: #1C2331
        }
        #line {
            width:80%;
            margin-left:10%;
            margin-right:10%
        }
    
        #name {
            font-size: 3em;
        }
    
        #position {
            font-size: 1.5em;
        }
    }
    
    